<div class="sb-onboard">
  <div class="sb-onboard__container">
    <div class="sb-onboard__header">
      <img [src]="tenantInfo?.logo" class="brand-logo" alt="logo" />
      <h1>{{resourceService?.frmelmnts?.lbl?.welcomeToInstance | interpolate:'{instance}': tenantInfo?.titleName}}</h1>
    </div>
    <div class="sb-onboard__content">
      <p class="subtitle">{{resourceService?.messages?.imsg?.m0075}}</p>
      <div class="schooling-location">
      <div class="fields-selection">
        <div class="sb-field field-focus">
          <sui-select class="ui dropdown selection fields-dropdown state-selection" [placeholder]="resourceService?.messages?.stmsg?.m0126"
            [(ngModel)]="selectedBoard" labelField="name" (ngModelChange)="handleBoardChange()">
            <sui-select-option *ngFor="let board of allBoards" [value]="board"></sui-select-option>
          </sui-select>
          <label class="d-flex font-weight-normal">Board:</label>
        </div>
        <div class="sb-field field-focus onboard-space-content">
          <sui-multi-select class="ui dropdown selection fields-dropdown sb-bg-color-white" [(ngModel)]="selectedMedium" [options]="allMediums" labelField="name"
          (ngModelChange)="handleMediumChange()" [isSearchable]="searchable" [isDisabled]="disabled" [hasLabels]="!hideLabels" #mediumSelect>
            <sui-select-option *ngFor="let option of mediumSelect.filteredOptions" [value]="option">
            </sui-select-option>
          </sui-multi-select>
          <label class="d-flex font-weight-normal">Medium:</label>
        </div>
        <div class="sb-field field-focus">
          <sui-multi-select [isSearchable]="false" class="ui dropdown selection fields-dropdown sb-bg-color-white" [options]="allGrades" [(ngModel)]="selectedGrade"
            (ngModelChange)="handleGradeChange()" labelField="name" #gradeSelect>
            <sui-select-option *ngFor="let grade of gradeSelect.filteredOptions" [value]="grade"></sui-select-option>
          </sui-multi-select>
          <label class="d-flex font-weight-normal">Class:</label>
        </div>
      </div>
      </div>
    </div>
    <div class="sb-onboard__footer">
      <button type="button" class="sb-btn sb-btn-sm sb-btn-primary text-uppercase w-100"
        [ngClass]="{'sb-btn-disabled': !enableSubmitBtn}" [disabled]="!enableSubmitBtn"
        (click)="onSubmit()">{{resourceService?.frmelmnts?.btn?.submit}}
        <span class='arrow-icon'>
          <em class="icon-svg icon-svg--xxs icon-back">
            <svg class="icon icon-svg--white">
              <use xlink:href="assets/images/sprite.svg#arrow-long-right"></use>
            </svg>
          </em>
        </span>
      </button>
    </div>
  </div>
</div>